<h2>id</h2>this is artical of <%=result.id%>
<h2>Tiltle </h2><%=result.title%>
<h2>Discription</h2> <%=result.discription%>
<h2>Markdown</h2> <%=result.Markdown%>
<div>
    <button><a href="/changedata/<%=result.id%>">change </a></button>

</div>